<div class="task-list">
  <button class="btn-back" [routerLink]="['/crear-tarea']">
    Crear Nueva Tarea
  </button>
  <h2>Lista de Tareas</h2>

  <!-- Filtros -->
  <div class="filters">
    <button (click)="filtrar('todas')" [class.active]="filtro === 'todas'">
      Todas
    </button>
    <button
      (click)="filtrar('completadas')"
      [class.active]="filtro === 'completadas'"
    >
      Completadas
    </button>
    <button
      (click)="filtrar('pendientes')"
      [class.active]="filtro === 'pendientes'"
    >
      Pendientes
    </button>
  </div>

  <ul>
    <li *ngFor="let tarea of tareasFiltradas">
      <div>
        <input
          type="checkbox"
          [(ngModel)]="tarea.completada"
          (change)="onToggleCompleta(tarea)"
        />
        <strong>{{ tarea.nombre }}</strong> - {{ tarea.fechaLimite }}
      </div>

      <!-- Lista de personas asociadas -->
      <div class="person-list">Personas Asociadas</div>
      <ul class="person-list">
        <li *ngFor="let persona of tarea.personas">
          {{ persona.nombreCompleto }} ({{ persona.edad }})<br />
          <em class="person-list"
            >Habilidades: {{ getHabilidades(persona.habilidades) }}</em
          >
        </li>
      </ul>
    </li>
  </ul>
</div>
